:root{
    /*colores*/
    --santorini-grey: #dad9d6;
    --mikonos-grey: #e0e8ea;
    --lodging-blue: #221c35;
}
body{
    margin: 0px;
    padding: 0px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family:Arial, Helvetica, sans-serif;
}
html{
    font-size: 62.5%;
}
header{
    width: 100%;
    height: 50%;
}
header div .first{
    margin-top: 20px;
    font-size: 2vw;
}
header div .second{
    margin: 0px;
    font-size: 10vw;
    font-weight:800;
    letter-spacing: 2vw;   
}
header .nav-center-section{
    height: 10%;
    display: flex;
    justify-content: space-around;
    box-shadow: none;
    background: white;
    color: black;
    font-size: 2.5vw;
    letter-spacing: 0.3vw;
}
header .nav-center-section ul{
    margin: -10px;
}
header .nav-center-section li{
    margin-left: 5px;
}
section img{
    width: 100%;
}
main .main-title h6{
    margin-top: 20px;
    font-weight: 800;
    font-size: 3vw;
}
main .main-title p{
    margin: 5px 0px 10px 0px;
    font-size: 2.6vw;
}
main .row .col{
    padding: 0px;
}
main .main-columns .text{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 2.2vw;
}
main .main-columns img{
    width: 100%;
}
main .main-columns .package{
    font-size: 2.1vw;
}
main .main-columns .package ul{
    margin: 0px;
    padding: 0px 0px 10px 15px ;
    background-color: var(--santorini-grey);
}
main .main-columns .package ul .santorini{
    font-weight: 800;
    font-size: 2.5vw;
}
main .main-columns .package ul li:nth-child(n+2) { 
    font-weight: 700;
    font-size: 1.9vw;
}
main .main-columns .package2{
    font-size: 2.1vw;
}
main .main-columns .package2 ul{
    margin: 0px;
    padding: 5px 0px 0px 7px;
}
main .main-columns .package2 ul .sedan{
    font-weight: 800;
    font-size: 2vw;
}
main .main-columns .package2 ul li:nth-child(n+2) {
    margin-left: 19px;
    font-size: 1.7vw;
    list-style-type: disc;
}
main .row .mikonos-section{
    padding: 0px;
}
main .mikonos-section img{
    width: 100%;
}
.duration-includ{
    background-color: var(--mikonos-grey);
}
main .mikonos-section .duration{
    padding-left: 17%;
}
main .mikonos-section .duration p{
    font-size: 1.5vw;
    margin: 0px;
}
main .mikonos-section .duration ul{
    font-size: 1.7vw;
    font-weight: 545;
}
main .mikonos-section .included p{
    font-size: 1.5vw;
    margin: 0px;
}
main .mikonos-section .included ol{
    font-size: 1.7vw;
    font-weight: 545;
    list-style-type: disc;
    padding: 0px;
}
main .indications{
    box-shadow: 8px 8px 0px black;
    font-size: 1.9vw;
}
main .indications .card-panel{
    display: flex;
    align-items: baseline;
    padding: 0px 2px 0px 20px;
    text-justify: inter-cluster;
}
main .indications .material-icons{
    font-size: 8vw;
}
footer .lodging{
    width: 100%;
    height: 10vw;
    background-color: var(--lodging-blue);
    margin-top: 20px;
    padding-top: 0.9vw;
}
footer .center-align{
    color: white;
    font-size: 3vw;
    font-weight: 600;
    letter-spacing: 1.2vw;
}
footer .location{
    margin-top: 10px;
}
footer .location .material-icons{
    font-size: 6vw;
}
footer .location .day{
    margin-left: 10px;

}
footer .location .day p{
    margin: 0px ;
}
footer .location .day .san{
    font-size: 2.5vw;
    font-weight: 800;
}
footer .location .day .jul{
    font-size: 1.5vw;
}
footer .star{
    height: 6.5vw;
    margin-top: 10px;
    margin-bottom: 3px;
    background-color: var(--lodging-blue);
    padding-top: 2vw;
}
footer .star .canaves{
    font-size: 2vw;
    color: white;
    padding: 0px 0px 0px 2vw;
    letter-spacing: 0.2vw;
}
footer .star .material-icons{
    display: flex;
    justify-content: flex-end;
    font-size: 3vw;
    margin:0px;
}
footer .room p{
    margin: 0px;
    font-size: 2vw;
}
footer .room .left{
    padding: 0px 0px 0px 2.5vw;
}
footer .room .right{
    text-align: right;
}
footer .room img{
    width: 100%;
}