header nav .title{
    font-size: 1.8vw;
    letter-spacing: 0.1vw;
}
header nav .second{
    margin-bottom: 20px;
    font-size: 12vw;
    letter-spacing: 3vw;
}
header nav ul{
    height: 50px;
    margin-bottom: 8px;
    font-size: 14px;
    letter-spacing: 1.2vw;
}
header section ul {
    font-size: 80%;
    top: 200%;
    left: 50%;
    transform: translate(-50%, -50%);
}
header section p{
    top: 210%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}