header nav .title{
    margin: auto;
    margin-top: 1vw;
    font-size: 1.8vw;
    letter-spacing: 0.1vw;
}
header nav .second{
    margin: auto;
    margin-bottom: 4vw;
    font-size: 10vw;
    font-weight: bolder;
    letter-spacing: 2vw;
}
header section ul {
    font-size: 80%;
}